body {
    background-image: url('https://wallpapercave.com/wp/wp3197369.png');
    

    color: white;
}
header {
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
}
/* main {
     // padding: 150px;

}*/


figure img, figcaption {
        text-align: center;
        width: 200px;
        display: inline-block;

    }

footer {
    font-size: 20px;
    text-align: center;
}
