body {
    background-image: url('https://images.unsplash.com/photo-1629694242280-20637c63285b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    /* background-image: url('https://wallpapercave.com/wp/wp2225591.jpg'); */

    color: white;
}
header {
    text-decoration: underline;
}
/* main {
     // padding: 150px;

}*/


figure img, figcaption {
        text-align: center;
        width: 200px;
        display: inline-block;

    }

footer {
    font-size: 20px;
    text-align: center;
}
